Repository RedHatInsights/curiosity-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cdcabrera, @barnabycourt, @vbusch, @kflahert, @lindseyburnett

test: dist, tabs snapshot updates
  src/components/tabs/__tests__/__snapshots__/tabs.test.js.snap
  tests/__snapshots__/dist.test.js.snap
Owners: @cdcabrera

build(deps): update group with 11 updates
  package-lock.json
  package.json
Owners: @vbusch, @kflahert, @cdcabrera, @lindseyburnett

chore(release): 4.18.0
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @cdcabrera, @vbusch, @kflahert, @lindseyburnett

chore(release): 4.18.0
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @cdcabrera, @vbusch, @kflahert, @lindseyburnett

build(deps): sw-3819 migrate to eslint 9 (#1665)
  .eslintignore
  .eslintrc
  .gitignore
  config/eslint.config.airbnb.mjs
  config/jest.setupTests.js
  eslint.config.mjs
  package-lock.json
  package.json
  src/common/downloadHelpers.js
  src/components/i18n/i18nHelpers.js
  src/config/products.js
  src/redux/hooks/useReactRedux.js
  src/services/common/__tests__/serviceConfig.test.js
  src/services/rhsm/rhsmConstants.js
  tests/__snapshots__/dist.test.js.snap
Owners: @cdcabrera, @vbusch, @kflahert, @lindseyburnett

ci: sw-3764 fix e2e ci.int.devshift.net (#1657)
  deploy/pr_check.sh
Owners: @cdcabrera

refactor: sw-3804 Remove Red Hat billing provider reference (#1662)
  public/locales/en-US.json
  src/services/rhsm/__tests__/__snapshots__/rhsmConstants.test.js.snap
  src/services/rhsm/rhsmConstants.js
  src/services/rhsm/rhsmServices.js
Owners: @cdcabrera

build(deps): update group with 11 updates (#1667)
  package-lock.json
  package.json
  src/components/tabs/__tests__/__snapshots__/tabs.test.js.snap
  tests/__snapshots__/dist.test.js.snap
Owners: @vbusch, @kflahert, @cdcabrera, @lindseyburnett

build(deps): update group with 11 updates (#1667)
  package-lock.json
  package.json
  src/components/tabs/__tests__/__snapshots__/tabs.test.js.snap
  tests/__snapshots__/dist.test.js.snap
Owners: @vbusch, @kflahert, @cdcabrera, @lindseyburnett

ci: sw-3764 fix e2e ci.int.devshift.net (#1657)
  deploy/pr_check.sh
Owners: @cdcabrera

refactor: sw-3804 Remove Red Hat billing provider reference (#1662)
  public/locales/en-US.json
  src/services/rhsm/__tests__/__snapshots__/rhsmConstants.test.js.snap
  src/services/rhsm/rhsmConstants.js
  src/services/rhsm/rhsmServices.js
Owners: @cdcabrera

build(deps): sw-3819 migrate to eslint 9 (#1665)
  .eslintignore
  .eslintrc
  .gitignore
  config/eslint.config.airbnb.mjs
  config/jest.setupTests.js
  eslint.config.mjs
  package-lock.json
  package.json
  src/common/downloadHelpers.js
  src/components/i18n/i18nHelpers.js
  src/config/products.js
  src/redux/hooks/useReactRedux.js
  src/services/common/__tests__/serviceConfig.test.js
  src/services/rhsm/rhsmConstants.js
  tests/__snapshots__/dist.test.js.snap
Owners: @cdcabrera, @vbusch, @kflahert, @lindseyburnett

chore(release): 4.18.1
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @cdcabrera, @vbusch, @kflahert, @lindseyburnett

chore(release): 4.18.1
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @cdcabrera, @vbusch, @kflahert, @lindseyburnett

build: sw-3714 base agent guidelines
  .aiignore
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  CONTRIBUTING.md
  README.md
  guidelines/README.md
Owners: @cdcabrera

build: sw-3714 base agent guidelines (#1648)
  .aiignore
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  CONTRIBUTING.md
  README.md
  guidelines/README.md
Owners: @cdcabrera

ci: Update Konflux references
  .tekton/curiosity-frontend-pull-request.yaml
  .tekton/curiosity-frontend-push.yaml
Owners: @vbusch, @kflahert, @cdcabrera, @barnabycourt, @lindseyburnett

build(deps): bump group with 4 updates
  package-lock.json
  package.json
Owners: @vbusch, @kflahert, @cdcabrera, @lindseyburnett

build(deps): bump group with 4 updates (#1685)
  package-lock.json
  package.json
Owners: @vbusch, @kflahert, @cdcabrera, @lindseyburnett

swatch-3889
  README.md
Owners: @cdcabrera

DEV toolbarFields
  src/components/toolbar/toolbarFieldBillingAccount.js
  src/components/toolbar/toolbarFieldBillingProvider.js
  src/components/toolbar/toolbarFieldCategory.js
  src/components/toolbar/toolbarFieldGranularity.js
  src/components/toolbar/toolbarFieldGroupVariant.js
  src/components/toolbar/toolbarFieldRangedMonthly.js
  src/components/toolbar/toolbarFieldSelectCategory.js
  src/components/toolbar/toolbarFieldSla.js
  src/components/toolbar/toolbarFieldUsage.js
Owners: @cdcabrera

fix(select): default selected options
  src/common/dateHelpers.js
  src/components/form/select.js
  src/redux/hooks/useReactRedux.js
Owners: @cdcabrera

DEV base test update
  src/common/__tests__/__snapshots__/dateHelpers.test.js.snap
  src/components/README.md
  src/components/form/__tests__/__snapshots__/select.test.js.snap
  src/components/form/__tests__/select.test.js
  src/components/form/select.js
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldGranularity.test.js.snap
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldGroupVariant.test.js.snap
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldRangedMonthly.test.js.snap
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldSelectCategory.test.js.snap
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldSla.test.js.snap
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldUsage.test.js.snap
  src/redux/README.md
  tests/__snapshots__/code.test.js.snap
  tests/__snapshots__/dist.test.js.snap
Owners: @cdcabrera

swatch-3889
  README.md
Owners: @cdcabrera

test: serviceConfig hash check
  src/services/common/__tests__/__snapshots__/serviceConfig.test.js.snap
Owners: @cdcabrera

ci: sw-4029: dedicated pipeline for curiosity post stage tests
  deploy/curiosity-frontend-stage-internal-test-job.yaml
Owners: @cdcabrera

build: dependabot, package cooldown
  .github/dependabot.yml
  .github/workflows/commit_lint.yml
  .github/workflows/documentation_lint.yml
  .github/workflows/integration.yml
Owners: @cdcabrera

build: dependabot, package cooldown (#1717)
  .github/dependabot.yml
  .github/workflows/commit_lint.yml
  .github/workflows/documentation_lint.yml
  .github/workflows/integration.yml
Owners: @cdcabrera

test: jest package update
  src/services/common/__tests__/__snapshots__/serviceConfig.test.js.snap
Owners: @cdcabrera

Revert "ci: Update Konflux references (#1720)"
  .tekton/curiosity-frontend-pull-request.yaml
  .tekton/curiosity-frontend-push.yaml
Owners: @vbusch, @kflahert, @cdcabrera, @barnabycourt, @lindseyburnett

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important. Last matching pattern has the most
# precedence

# Default owner(s) for everything. Added to PR reviews
* @cdcabrera

# CODEOWNERS permissions
/.github/CODEOWNERS @barnabycourt @cdcabrera

# Automated dependency updates
package*.json @vbusch @kflahert @cdcabrera @lindseyburnett
/.tekton/ @vbusch @kflahert @cdcabrera @barnabycourt @lindseyburnett
