Repository RedHatInsights/curiosity-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cdcabrera, @barnabycourt, @vbusch, @kflahert, @lindseyburnett

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important. Last matching pattern has the most
# precedence

# Default owner(s) for everything. Added to PR reviews
* @cdcabrera

# CODEOWNERS permissions
/.github/CODEOWNERS @barnabycourt @cdcabrera

# Automated dependency updates
package*.json @vbusch @kflahert @cdcabrera @lindseyburnett
/.tekton/ @vbusch @kflahert @cdcabrera @barnabycourt @lindseyburnett

ci: sw-3764 fix ci.int.devshift.net
  deploy/pr_check.sh
Owners: @cdcabrera

refactor(deps): sw-3639 update toast notifications
  config/cspell.config.json
  package-lock.json
  package.json
  src/app.js
  src/components/README.md
  src/components/i18n/__tests__/__snapshots__/i18n.test.js.snap
  src/components/notifications/__tests__/__snapshots__/notifications.test.js.snap
  src/components/notifications/__tests__/__snapshots__/notificationsContext.test.js.snap
  src/components/notifications/__tests__/notifications.test.js
  src/components/notifications/__tests__/notificationsContext.test.js
  src/components/notifications/notifications.js
  src/components/notifications/notificationsContext.js
  src/components/optinView/__tests__/__snapshots__/optinView.test.js.snap
  src/components/optinView/__tests__/optinView.test.js
  src/components/optinView/optinView.js
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldExportContext.test.js.snap
  src/components/toolbar/toolbarFieldExportContext.js
  src/redux/README.md
  src/redux/actions/__tests__/__snapshots__/platformActions.test.js.snap
  src/redux/actions/platformActions.js
  src/redux/actions/rhsmActions.js
  src/redux/actions/userActions.js
  src/redux/common/reduxHelpers.js
  src/redux/middleware/index.js
  src/redux/reducers/index.js
  src/redux/types/__tests__/__snapshots__/index.test.js.snap
  src/redux/types/index.js
  tests/__snapshots__/code.test.js.snap
  tests/__snapshots__/dist.test.js.snap
Owners: @cdcabrera, @vbusch, @kflahert, @lindseyburnett

test: review updates
  src/components/notifications/__tests__/__snapshots__/notificationsContext.test.js.snap
  src/components/notifications/__tests__/notificationsContext.test.js
  src/components/notifications/notificationsContext.js
  src/components/toolbar/toolbarFieldExportContext.js
  src/services/platform/platformTransformers.js
Owners: @cdcabrera

test: review updates
  public/locales/en-US.json
  src/components/README.md
  src/components/i18n/__tests__/__snapshots__/i18n.test.js.snap
  src/components/notifications/__tests__/__snapshots__/notificationsContext.test.js.snap
  src/components/notifications/__tests__/notificationsContext.test.js
  src/components/notifications/notificationsContext.js
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldExportContext.test.js.snap
  src/components/toolbar/__tests__/toolbarFieldExportContext.test.js
  src/components/toolbar/toolbarFieldExportContext.js
  tests/__snapshots__/code.test.js.snap
Owners: @cdcabrera

docs: update
  src/components/README.md
Owners: @cdcabrera

test: revert additions
  src/components/toolbar/toolbarFieldExportContext.js
Owners: @cdcabrera

fix: export notifications regardless of product
  src/components/toolbar/toolbarFieldExportContext.js
  src/services/platform/platformTransformers.js
Owners: @cdcabrera

test: staging confirmation
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldExportContext.test.js.snap
  src/components/toolbar/__tests__/toolbarFieldExportContext.test.js
  src/components/toolbar/toolbarFieldExportContext.js
Owners: @cdcabrera

test: clean up
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldExportContext.test.js.snap
  src/components/toolbar/__tests__/toolbarFieldExportContext.test.js
  src/services/platform/__tests__/__snapshots__/platformTransformers.test.js.snap
Owners: @cdcabrera

refactor(deps): sw-3639 toast notifications (#1630)
  config/cspell.config.json
  package-lock.json
  package.json
  public/locales/en-US.json
  src/app.js
  src/components/README.md
  src/components/i18n/__tests__/__snapshots__/i18n.test.js.snap
  src/components/notifications/__tests__/__snapshots__/notifications.test.js.snap
  src/components/notifications/__tests__/__snapshots__/notificationsContext.test.js.snap
  src/components/notifications/__tests__/notifications.test.js
  src/components/notifications/__tests__/notificationsContext.test.js
  src/components/notifications/notifications.js
  src/components/notifications/notificationsContext.js
  src/components/optinView/__tests__/__snapshots__/optinView.test.js.snap
  src/components/optinView/__tests__/optinView.test.js
  src/components/optinView/optinView.js
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldExportContext.test.js.snap
  src/components/toolbar/__tests__/toolbarFieldExportContext.test.js
  src/components/toolbar/toolbarFieldExportContext.js
  src/redux/README.md
  src/redux/actions/__tests__/__snapshots__/platformActions.test.js.snap
  src/redux/actions/platformActions.js
  src/redux/actions/rhsmActions.js
  src/redux/actions/userActions.js
  src/redux/common/reduxHelpers.js
  src/redux/middleware/index.js
  src/redux/reducers/index.js
  src/redux/types/__tests__/__snapshots__/index.test.js.snap
  src/redux/types/index.js
  src/services/platform/__tests__/__snapshots__/platformTransformers.test.js.snap
  src/services/platform/platformTransformers.js
  tests/__snapshots__/code.test.js.snap
  tests/__snapshots__/dist.test.js.snap
Owners: @cdcabrera, @vbusch, @kflahert, @lindseyburnett

build: sw-3714 base agent guidelines
  GUIDELINES.md
  guidelines/adding-product-configs.md
Owners: @cdcabrera

docs: refine direction
  .gitignore
  CONTRIBUTING.md
  GUIDELINES.md
  guidelines/adding-product-configs.md
Owners: @cdcabrera

test: sw-3714 pre-agent refactors
  src/services/rhsm/rhsmConstants.js
Owners: @cdcabrera

DEV restructure
  .aiignore
  .gitignore
  CONTRIBUTING.md
  GUIDELINES.md
  README.md
  guidelines/README.md
  guidelines/adding-product-configs.md
Owners: @cdcabrera

fix: sw-3639 expose failed exports
  public/locales/en-US.json
  src/components/i18n/__tests__/__snapshots__/i18n.test.js.snap
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldExportContext.test.js.snap
  src/components/toolbar/__tests__/toolbarFieldExportContext.test.js
  src/components/toolbar/toolbarFieldExportContext.js
  src/services/README.md
  src/services/platform/__tests__/__snapshots__/platformHelpers.test.js.snap
  src/services/platform/__tests__/__snapshots__/platformTransformers.test.js.snap
  src/services/platform/__tests__/platformHelpers.test.js
  src/services/platform/platformHelpers.js
  src/services/platform/platformServices.js
  src/services/platform/platformTransformers.js
  tests/__snapshots__/code.test.js.snap
Owners: @cdcabrera

docs: expand documentation for service config
  src/services/common/serviceConfig.js
Owners: @cdcabrera

DEV refactor
  src/components/README.md
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldExportContext.test.js.snap
  src/components/toolbar/__tests__/toolbarFieldExportContext.test.js
  src/components/toolbar/toolbarFieldExportContext.js
Owners: @cdcabrera

fix(toolbarFieldExportContext): sw-3639 expose failed exports
  public/locales/en-US.json
  src/components/README.md
  src/components/i18n/__tests__/__snapshots__/i18n.test.js.snap
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldExportContext.test.js.snap
  src/components/toolbar/__tests__/toolbarFieldExportContext.test.js
  src/components/toolbar/toolbarFieldExportContext.js
  src/redux/actions/platformActions.js
  src/redux/common/reduxHelpers.js
  src/services/README.md
  src/services/platform/__tests__/__snapshots__/platformHelpers.test.js.snap
  src/services/platform/__tests__/__snapshots__/platformTransformers.test.js.snap
  src/services/platform/__tests__/platformHelpers.test.js
  src/services/platform/platformHelpers.js
  src/services/platform/platformServices.js
  src/services/platform/platformTransformers.js
  tests/__snapshots__/code.test.js.snap
Owners: @cdcabrera

fix(toolbarFieldExportContext): sw-3639 expose failed exports (#1660)
  public/locales/en-US.json
  src/components/README.md
  src/components/i18n/__tests__/__snapshots__/i18n.test.js.snap
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldExportContext.test.js.snap
  src/components/toolbar/__tests__/toolbarFieldExportContext.test.js
  src/components/toolbar/toolbarFieldExportContext.js
  src/redux/actions/platformActions.js
  src/redux/common/reduxHelpers.js
  src/services/README.md
  src/services/platform/__tests__/__snapshots__/platformHelpers.test.js.snap
  src/services/platform/__tests__/__snapshots__/platformTransformers.test.js.snap
  src/services/platform/__tests__/platformHelpers.test.js
  src/services/platform/platformHelpers.js
  src/services/platform/platformServices.js
  src/services/platform/platformTransformers.js
  tests/__snapshots__/code.test.js.snap
Owners: @cdcabrera

fix(toolbarFieldExportContext): sw-3639 notification confirmation
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldExportContext.test.js.snap
  src/components/toolbar/toolbarFieldExportContext.js
Owners: @cdcabrera

fix(toolbarFieldExportContext): sw-3639 expose failed exports (#1660)
  public/locales/en-US.json
  src/components/README.md
  src/components/i18n/__tests__/__snapshots__/i18n.test.js.snap
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldExportContext.test.js.snap
  src/components/toolbar/__tests__/toolbarFieldExportContext.test.js
  src/components/toolbar/toolbarFieldExportContext.js
  src/redux/actions/platformActions.js
  src/redux/common/reduxHelpers.js
  src/services/README.md
  src/services/platform/__tests__/__snapshots__/platformHelpers.test.js.snap
  src/services/platform/__tests__/__snapshots__/platformTransformers.test.js.snap
  src/services/platform/__tests__/platformHelpers.test.js
  src/services/platform/platformHelpers.js
  src/services/platform/platformServices.js
  src/services/platform/platformTransformers.js
  tests/__snapshots__/code.test.js.snap
Owners: @cdcabrera

build(deps): bump axios from 1.9.0 to 1.11.0
  package-lock.json
  package.json
Owners: @vbusch, @kflahert, @cdcabrera, @lindseyburnett

build(deps): bump axios from 1.9.0 to 1.11.0 (#1663)
  package-lock.json
  package.json
Owners: @vbusch, @kflahert, @cdcabrera, @lindseyburnett

refactor: sw-3804 Remove reference of Red Hat billing provider
  public/locales/en-US.json
  src/services/rhsm/__tests__/__snapshots__/rhsmConstants.test.js.snap
  src/services/rhsm/rhsmConstants.js
  src/services/rhsm/rhsmServices.js
Owners: @cdcabrera

ci: sw-3764 fix ci.int.devshift.net
  deploy/pr_check.sh
Owners: @cdcabrera

build(deps): migrate to eslint 9
  .eslintignore
  .eslintrc
  .gitignore
  config/eslint.config.airbnb.mjs
  config/jest.setupTests.js
  eslint.config.mjs
  package-lock.json
  package.json
  src/common/downloadHelpers.js
  src/components/i18n/i18nHelpers.js
  src/config/products.js
  src/redux/hooks/useReactRedux.js
  src/services/common/__tests__/serviceConfig.test.js
  src/services/rhsm/rhsmConstants.js
  tests/__snapshots__/dist.test.js.snap
Owners: @cdcabrera, @vbusch, @kflahert, @lindseyburnett

build(deps): bump axios from 1.9.0 to 1.11.0 (#1663)
  package-lock.json
  package.json
Owners: @vbusch, @kflahert, @cdcabrera, @lindseyburnett

fix(toolbarFieldExportContext): sw-3639 expose failed exports (#1660)
  public/locales/en-US.json
  src/components/README.md
  src/components/i18n/__tests__/__snapshots__/i18n.test.js.snap
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldExportContext.test.js.snap
  src/components/toolbar/__tests__/toolbarFieldExportContext.test.js
  src/components/toolbar/toolbarFieldExportContext.js
  src/redux/actions/platformActions.js
  src/redux/common/reduxHelpers.js
  src/services/README.md
  src/services/platform/__tests__/__snapshots__/platformHelpers.test.js.snap
  src/services/platform/__tests__/__snapshots__/platformTransformers.test.js.snap
  src/services/platform/__tests__/platformHelpers.test.js
  src/services/platform/platformHelpers.js
  src/services/platform/platformServices.js
  src/services/platform/platformTransformers.js
  tests/__snapshots__/code.test.js.snap
Owners: @cdcabrera

refactor(deps): sw-3639 toast notifications (#1630)
  config/cspell.config.json
  package-lock.json
  package.json
  public/locales/en-US.json
  src/app.js
  src/components/README.md
  src/components/i18n/__tests__/__snapshots__/i18n.test.js.snap
  src/components/notifications/__tests__/__snapshots__/notifications.test.js.snap
  src/components/notifications/__tests__/__snapshots__/notificationsContext.test.js.snap
  src/components/notifications/__tests__/notifications.test.js
  src/components/notifications/__tests__/notificationsContext.test.js
  src/components/notifications/notifications.js
  src/components/notifications/notificationsContext.js
  src/components/optinView/__tests__/__snapshots__/optinView.test.js.snap
  src/components/optinView/__tests__/optinView.test.js
  src/components/optinView/optinView.js
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldExportContext.test.js.snap
  src/components/toolbar/__tests__/toolbarFieldExportContext.test.js
  src/components/toolbar/toolbarFieldExportContext.js
  src/redux/README.md
  src/redux/actions/__tests__/__snapshots__/platformActions.test.js.snap
  src/redux/actions/platformActions.js
  src/redux/actions/rhsmActions.js
  src/redux/actions/userActions.js
  src/redux/common/reduxHelpers.js
  src/redux/middleware/index.js
  src/redux/reducers/index.js
  src/redux/types/__tests__/__snapshots__/index.test.js.snap
  src/redux/types/index.js
  src/services/platform/__tests__/__snapshots__/platformTransformers.test.js.snap
  src/services/platform/platformTransformers.js
  tests/__snapshots__/code.test.js.snap
  tests/__snapshots__/dist.test.js.snap
Owners: @cdcabrera, @vbusch, @kflahert, @lindseyburnett

build(deps): migrate to eslint 9
  .eslintignore
  .eslintrc
  .gitignore
  config/eslint.config.airbnb.mjs
  config/jest.setupTests.js
  eslint.config.mjs
  package-lock.json
  package.json
  src/common/downloadHelpers.js
  src/components/i18n/i18nHelpers.js
  src/config/products.js
  src/redux/hooks/useReactRedux.js
  src/services/common/__tests__/serviceConfig.test.js
  src/services/rhsm/rhsmConstants.js
  tests/__snapshots__/dist.test.js.snap
Owners: @cdcabrera, @vbusch, @kflahert, @lindseyburnett

build(deps): bump axios from 1.9.0 to 1.11.0 (#1663)
  package-lock.json
  package.json
Owners: @vbusch, @kflahert, @cdcabrera, @lindseyburnett

fix(toolbarFieldExportContext): sw-3639 expose failed exports (#1660)
  public/locales/en-US.json
  src/components/README.md
  src/components/i18n/__tests__/__snapshots__/i18n.test.js.snap
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldExportContext.test.js.snap
  src/components/toolbar/__tests__/toolbarFieldExportContext.test.js
  src/components/toolbar/toolbarFieldExportContext.js
  src/redux/actions/platformActions.js
  src/redux/common/reduxHelpers.js
  src/services/README.md
  src/services/platform/__tests__/__snapshots__/platformHelpers.test.js.snap
  src/services/platform/__tests__/__snapshots__/platformTransformers.test.js.snap
  src/services/platform/__tests__/platformHelpers.test.js
  src/services/platform/platformHelpers.js
  src/services/platform/platformServices.js
  src/services/platform/platformTransformers.js
  tests/__snapshots__/code.test.js.snap
Owners: @cdcabrera

refactor(deps): sw-3639 toast notifications (#1630)
  config/cspell.config.json
  package-lock.json
  package.json
  public/locales/en-US.json
  src/app.js
  src/components/README.md
  src/components/i18n/__tests__/__snapshots__/i18n.test.js.snap
  src/components/notifications/__tests__/__snapshots__/notifications.test.js.snap
  src/components/notifications/__tests__/__snapshots__/notificationsContext.test.js.snap
  src/components/notifications/__tests__/notifications.test.js
  src/components/notifications/__tests__/notificationsContext.test.js
  src/components/notifications/notifications.js
  src/components/notifications/notificationsContext.js
  src/components/optinView/__tests__/__snapshots__/optinView.test.js.snap
  src/components/optinView/__tests__/optinView.test.js
  src/components/optinView/optinView.js
  src/components/toolbar/__tests__/__snapshots__/toolbarFieldExportContext.test.js.snap
  src/components/toolbar/__tests__/toolbarFieldExportContext.test.js
  src/components/toolbar/toolbarFieldExportContext.js
  src/redux/README.md
  src/redux/actions/__tests__/__snapshots__/platformActions.test.js.snap
  src/redux/actions/platformActions.js
  src/redux/actions/rhsmActions.js
  src/redux/actions/userActions.js
  src/redux/common/reduxHelpers.js
  src/redux/middleware/index.js
  src/redux/reducers/index.js
  src/redux/types/__tests__/__snapshots__/index.test.js.snap
  src/redux/types/index.js
  src/services/platform/__tests__/__snapshots__/platformTransformers.test.js.snap
  src/services/platform/platformTransformers.js
  tests/__snapshots__/code.test.js.snap
  tests/__snapshots__/dist.test.js.snap
Owners: @cdcabrera, @vbusch, @kflahert, @lindseyburnett

build(deps): sw-3819 migrate to eslint 9 (#1665)
  .eslintignore
  .eslintrc
  .gitignore
  config/eslint.config.airbnb.mjs
  config/jest.setupTests.js
  eslint.config.mjs
  package-lock.json
  package.json
  src/common/downloadHelpers.js
  src/components/i18n/i18nHelpers.js
  src/config/products.js
  src/redux/hooks/useReactRedux.js
  src/services/common/__tests__/serviceConfig.test.js
  src/services/rhsm/rhsmConstants.js
  tests/__snapshots__/dist.test.js.snap
Owners: @cdcabrera, @vbusch, @kflahert, @lindseyburnett

build: sw-3714 base agent guidelines
  .aiignore
  .gitignore
  CONTRIBUTING.md
  README.md
  guidelines/README.md
  guidelines/adding-product-configs.md
Owners: @cdcabrera

ci: sw-3764 fix ci.int.devshift.net
  deploy/pr_check.sh
Owners: @cdcabrera

ci: sw-3764 fix e2e ci.int.devshift.net (#1657)
  deploy/pr_check.sh
Owners: @cdcabrera

refactor: sw-3804 Remove reference of Red Hat billing provider
  public/locales/en-US.json
  src/services/rhsm/__tests__/__snapshots__/rhsmConstants.test.js.snap
  src/services/rhsm/rhsmConstants.js
  src/services/rhsm/rhsmServices.js
Owners: @cdcabrera

refactor: sw-3804 Remove Red Hat billing provider reference (#1662)
  public/locales/en-US.json
  src/services/rhsm/__tests__/__snapshots__/rhsmConstants.test.js.snap
  src/services/rhsm/rhsmConstants.js
  src/services/rhsm/rhsmServices.js
Owners: @cdcabrera

build: reset lock
  package-lock.json
Owners: @vbusch, @kflahert, @cdcabrera, @lindseyburnett
