Repository RedHatInsights/curiosity-frontend, pull requests merged in 2022-05, with the labels that each got.

#928 chore(build): Ephemeral Environments onboarding step 1
  build_deploy.sh
  package.json
  pr_check.sh
Labels: build

#930 chore(build): npm updates
  package.json
  tests/__snapshots__/dist.test.js.snap
  tests/__snapshots__/html.test.js.snap
  tests/html.test.js
  yarn.lock
Labels: build, 202208

#932 Ephemeral Environments onboarding step 2
  build_deploy.sh
  deploy/frontend.yaml
  pr_check.sh
Labels: build

#935 Move clowder/ephemeral environments/app-sre scripts into another directory
  deploy/build_deploy.sh
  deploy/pr_check.sh
Labels: build, 202208

#934 fix(rhosak): ent-4982 storage GiB as GB hours to months
  public/locales/en-US.json
Labels: 202208
